In [ ]:
# New Project ML -

In [3]:
# import lib
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# api de visualizacao de graficos
# px.set_mapbox_access_token(open("mapbox_token").read())
px.set_mapbox_access_token("Default public token")
# https://www.mapbox.com/
px.set_mapbox_access_token("pk.eyJ1IjoicGF1bG9hdmVsYXJmZXJyZWlyYSIsImEiOiJjbHZ6bHQ2cWcxNDVmMmxsbzUzY3ZnY3hsIn0.5TEUol3k3YuNiyb2JJZVEQ.")

In [6]:
# criar o DF e ler os dados
df_data = pd.read_csv("data_sp_imob.csv")

In [7]:
df_data.head(5)

,Price,Condo,Size,Rooms,Toilets,Suites,Parking,Elevator,Furnished,Swimming Pool,New,District,Negotiation Type,Property Type,Latitude,Longitude
0,930,220,47,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.543138,-46.479486
1,1000,148,45,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.550239,-46.480718
2,1000,100,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.542818,-46.485665
3,1000,200,48,2,2,1,1,0,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.547171,-46.483014
4,1300,410,55,2,2,1,1,1,0,0,0,Artur Alvim/São Paulo,rent,apartment,-23.525025,-46.482436